ul {
    font-family: Arial, Verdana;
    font-size: 24px;
    margin: 0;
    padding: 0;
    list-style: none;
}
ul li {
    display: block;
    position: relative;
    
    float: left;
}

ul li.Title {
    padding: 5px 15px 5px 15px;
}

ul li.Title a {
	color: #00003b;
}
	
li ul {
    display: none;
}
ul li a {
    display: block;
    text-decoration: none;
    color: #ffffff;
    border-top: 1px solid #ffffff;
    padding: 5px 15px 5px 15px;
    background: #000000;
    margin-left: 1px;
    white-space: nowrap;
}
ul li a:hover {
background:  #3b3b3b;
}
li:hover ul {
    display: block;
    position: absolute;
}
li:hover li {
    float: none;
    font-size: 22px;
}
li:hover a { background: #3b3b3b; }
li:focus a { background: #3b3b3b; }
li:hover li a:hover {
    background: #000000;
}


